# Скомпилированные программы
lab1/mycat
lab1/mygrep
lab2/myls
lab3/lab3
lab4/mychmod
lab5/archiver

# Объектные файлы
*.o
*.out

# Временные файлы
*~
.DS_Store

# Тестовые файлы и архивы
*.arch
test*.txt
